body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #F4F1E9;
}

.form-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.login {
    display: flex;
    flex-direction: column;
    background-color: #F4F1E9;
    paading:30px;
    width:300px;
    gap:15px;
    border-radius:10px;
}

.login-title{
    color: #15857A;
}

.login-button{
    backgroung-color: FF6A3B;
    border:none;
    color: #FF6A3B;
    font-weight: bold;
}